{% extends 'base.html' %}
{% block content %}
<div class="display-2">
Latest Blogs
</div>

    <!-- {% if blogs %}
        {% for blog in blogs %}
            <div class="shadow p-3 mb-5 bg-light rounded" style="margin: 20px 40px 0px 40px;">
                <a href="blogs/{{ blog['blog_id'] }}">{{ blog['title'] }}</a>
                Written by {{ blog['username'] }}
            </div>
        {% endfor %}
    {% else %}
        <div class="displya-3">No Blog</div>
    {% endif %} -->

{% endblock %}