{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


<div class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="text-center" style="margin-top: 100px; margin-bottom: 40px;">Request Leave</h1>
        <form method="POST">
            <div>
                <label for="datepicker" class="form-label">Select move in date:</label>
                <input type="text" id="datepicker" class="form-control" placeholder="Select a date" name="datepicker">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="body" name="body" rows="5"></textarea>
            </div>
            <div class="text-center" style="margin-top: 30px;">
                <button type="submit" class="btn btn-outline-danger">Confirm</button>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
$(document).ready(function() {
    var minDate = new Date();
    minDate.setMonth(minDate.getMonth() + 1);
    
    var maxDate = new Date(minDate.getFullYear(), minDate.getMonth() + 3, 0);

    $("#datepicker").datepicker({
    dateFormat: "yy-mm-dd",
    minDate: minDate,
    maxDate: maxDate,
    onSelect: function(dateText) {
        console.log("Leave Date: " + dateText);
    }
    });

    
    $("#datepicker").change(function() {
    var selectedDate = $("#datepicker").val();
    

    if (selectedDate && name) {
        console.log("Request Successful");
    }
    });
});
</script>

{% endblock %}